html, body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body {
  color: #eeeeee;
  background-color: #102031;
}

ul
{
list-style: none;
padding: 0;
margin: 0;
}

h1 {
  margin: 0;
}

a {
  color: inherit; 
  text-decoration: inherit;
}

.appRoot {
  box-sizing: border-box;
  height: 100%;
}
